.about-us i {
  background-color: #f91944;
  font-size: 24px;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.more-btn {
  background-color: #19e270;
  color: white;
  border-radius: 50%;
  border: none;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
}
