.blog-top{
  text-align: start;
}
.blog-top img{
  width: 25%;
}

.blog{
  text-align: start;
}

.blog img{
  width: 100%;
  
}

.blog-icon{
  color: #f98c8c !important;
}

.blog a {
  text-decoration: none;
  padding: 0.5em;
  border: 1px solid #f98c8c !important;
  /* background-color: #f98c8c !important; */
  color: #f98c8c;
  font-weight: bolder;
  font-size: 15px;
}
