.navbar{
  height: 10vh;
}
.web-name{
  color: #0ff4bb !important;
  font-family:fantasy ;
}

.manu{
  color: white !important;
}

.manu:is(:hover, :focus){
    background-color: #bffdee !important;
    color: #000000 !important;
}

#basic-nav-dropdown{
  color: white !important;
}

#basic-nav-dropdown:is(:hover, :focus){
  background-color: #bffdee !important;
color: #000000 !important;
}