.navbar{
  height: 10vh;
}
.web-name{
  color: #0ff4bb !important;
  font-family:fantasy ;
}

.manu{
  color: white !important;
}

.manu:is(:hover, :focus){
  border: 1px solid #bffdee !important;
  border-radius: 50px;
  color: #bffdee !important;
}

#basic-nav-dropdown{
  color: white !important;
}

#basic-nav-dropdown:is(:hover, :focus){
  color: #bffdee !important;
}

.dropdown:is(:hover, :focus){
  border: 1px solid #bffdee !important;
  border-radius: 50px;
  color: #bffdee !important;
  background-color: #222222 !important;
}

.nav-icon{
  font-size: 20px;
  color: #ffffff !important;
}

.cart{
  color: #ff3232 !important;
  border-radius: 100px;
  font-size: 12px;
}