.sign{
    background-color: #efefef !important;
    box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 2px 6px 2px;
    width: 45%;
    height: 70vh;
    margin-left: 400px;
    padding: 76px;
}

.sign label{
  color: #f98c8c !important;
  font-weight: bold;
}

.email{
  margin-right: 35px;
}

.sign input{
  width: 300px;
  height: 5vh;
  outline: none;
  background-color: #ffffff !important;
  border: none;
  border-radius: 2px;
}


.sign-btn {
  background-color: #f98c8c !important;
  color: #ffffff !important;
  border: none;
  padding: 0.5em;
  letter-spacing: 4px
}

.sign-btn:active{
  background-color: #ffe8e8 !important;
  color: #000000 !important;
}

.auth-btn {
  padding: 0.5em;
  letter-spacing: 2px;
  
}

.auth-btn:active{
  background-color: #ffe8e8 !important;
}
