.banner{
    background-image: url("../../../images/bannerbackground.png");
    height: 500px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.input-field{
    padding: 8px 30px;
    border: none;
    border-radius: 50px;
    width: 400px;
    border: 1px solid  #F91944; 
    outline: none;


}

.search-btn{
    background-color: #F91944;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 9px 30px;
    position: relative;
    right: 40px;
}