.banner{
    background-image: url("../../images/others/banner.jpg");
    height: 80vh;
    width: 100%;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text{
    text-align: start;
    display: block;
    padding: 150px;
    justify-content: center;
    margin-left: 60px;
}

.banner-text h1 span{
    background-color: #f98c8c !important;
    padding: 0.2em;
}

.banner-text a{
    text-decoration: none;
    border: 1px solid #f98c8c !important;
    padding: 0.5em;
    color: #f98c8c !important;
    letter-spacing: 5px;
}

