.bannerTwo{
    background-color: #ffc9d7 !important;
    background-image: url("../../images/others/bannerTwo.png");
    height: 80vh;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.bannerTwo-text{
    text-align: start;
    display: block;
    padding: 100px;
    justify-content: center;
    margin-left: 120px;
}

.bannerTwo-text img{
    width: 34%;
}

.bannerTwo-text a{
    background-color: white !important;
    text-decoration: none;
    /* border: 1px solid #f98c8c !important; */
    padding: 0.5em;
    color: #f98c8c !important;
    letter-spacing: 5px;
}

.bannerTwo-text a:is(:hover, :focus){
    background-color: #f98c8c !important;
  color: #ffffff !important;
  /* border: 1px solid #ffffff !important; */
}

