.foods{
    margin-top: 40px;
}

.foods h2{
    color: #f98c8c !important;
    letter-spacing: 5px;
    font-family:monospace;
    justify-content: center;
}

.foods h2 a{
    color: #f98c8c !important;
}

.foods-text{
    padding: 20px;
    text-align: start;
}


.foods-text div p small{
    font-size: 10px;
    font-weight: bold;
    color: #c9c9c9 !important;
}

.foods-text div h6{
    color: #f98c8c !important;
    font-size: 20px;
    font-weight: bold;
}

.food-start{
    display: flex;
    color: #f98c8c !important;
    margin-left: 160px;
}
