.notfound h1{
    font-size: 250px;
    font-family:fantasy;
    color: #696969 !important;
}

.notfound h3{
    font-size: 50px;
    font-family:sans-serif;
}

.notfound h6{
   font-size: 50px;
   font-family:fantasy;
   color: #696969 !important;
}

.notfound p{
    color: #696969 !important;
}

.notfound a{
    color: #f98c8c !important;
    padding: 0.5em;
    text-decoration: none;
    border: 1px solid #f98c8c !important;
    border-radius: 30px;
    letter-spacing: 5px;
}

.notfound a:hover{
    background-color: #f98c8c !important;
    color: #ffffff !important;
}