.meal{
    height: 75vh;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}

.meal img{
    width: 100%;
}

.meal button{
    background-color: white !important;
    padding: 0.5em;
    border: 1px solid #f98c8c !important;
    color: #f98c8c !important;
    border: none;

}

.meal button:is(:hover, :focus){
    border: 1px solid #717171 !important;
    color: #717171 !important;
 
}